.testarea{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* height: 50vh; */
    display: block;
    /* max-width: 900px; */
}

.btn{
    padding:18px 30px;
    font-size: 2rem;
    display: block;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(184, 208, 224);
}



.form p {
    flex-basis: 100%; 
    margin-bottom: 10px;
}

input[type="radio"] {
    display: inline-block;
    margin-right: 10px;
  }

  input[type="radio"] + label {
    margin-bottom: 5px;
  }

label, input {
    margin: 10px; 
}


.q1{
    font-size: 20px;
    font-weight: 500;
}


.correctanswers{
    font-size: 4rem;
    font-weight: 500;
    color: brown;
    text-align: center;
}
